body {
    font-family: 'Oswald', sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 30px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  .name {
    padding: 24px;
    line-height: 24px;
    font-size: 32px;
    background-color: rgb(91, 167, 255);
    margin: 0% 1248px 0% 300px;
    text-align: center;
  }